.list-wrapper{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 450px;
    gap: 2em;
}

.card{
    border: 1px solid #222;
    border-radius: 16px;
    padding: 0 0 2em 0;
    display: flex;
    flex-direction: column;
}

.card-img-container{
    padding: 1em;
    height: 250px;
    text-align: center;
}

.card-img-container img{
    height: 100%;
    object-fit: contain;
}

.card-text-container{
    margin: 1em 0;
    padding: 0 1em;
}

.card-btn{
    text-align: center;
    cursor: pointer;
    width: 60%;
    align-self: center;
}

.rating::after{
    content: "★";
}